body {
    background-color: black;
    color: white;
    font-family: "Open Sans", sans-serif;
}

section {
    background-color: crimson;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin: 5%;
}

header {
    margin: 5%;
    font-size: 20px;
    text-align: center;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding-right: 20px;
}

h2 {
    padding-left: 20px;
}

.categoria-videos img {
    height: 200px;
    opacity: 0.5;
}

.categoria-videos img:hover {
    border: 5px solid rgb(93, 3, 3);
    opacity: 1.0;
}