body {
    background-color: black;
    color: white;
}

section{
    background-color: crimson;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin: 5%;
}

header{
    margin: 5%;
    font-size: 20px;
    text-align: center;
}